
/* FONTS */

@font-face {
    font-family: 'Lato R';
    src: url(/fonts/lato/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Lato L';
    src: url(/fonts/lato/Lato-Light.ttf);
}

@font-face {
    font-family: 'Lato B';
    src: url(/fonts/lato/Lato-Bold.ttf);
}

/* FONTS */

/* KEYFRAMES */

@keyframes planeta 
{
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: -924px;
    }
}

@keyframes green-gradient 
{
    0% {
        background-color: rgb(8, 14, 26);
    }

    50% {
        background-color: rgb(0, 255, 115);
    }

    100% {
        background-color: rgb(8, 14, 26);
    }
}

/* KEYFRAMES */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: 100vh;
}

/* SECCION 1 */

.seccion-1 {
    background-color: rgb(14, 24, 44);
    color: rgb(206, 206, 206);
    font-family: 'Lato R';
    font-size: 1.5em;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#world-books {
    color: rgb(252, 163, 17);
}

.planeta-tierra {
    width: 400px;
    height: 400px;
    background: url(/img/tierraPNG.png);
    background-color: rgb(12, 21, 39);
    background-size: auto;
    border-radius: 50%;
    animation-name: planeta;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* SECCION 2 */

.seccion-2 {
    background-color: rgb(8, 14, 26);
    color: rgb(252, 163, 17);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 3em;
    font-family: 'Lato R';
}

.iconos {
    width: 100%;
    height: 22vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.green-gradient {
    animation-name: green-gradient;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    border-radius: 38px;
    height: 12vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

p {
    font-size: 1.5em;
    font-family: 'Lato R';
}

/* SECCION 3 */

.seccion-3 {
    background-color: black;
    color: rgb(252, 163, 17);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

/* SECCION 4 */

.seccion-4 {
    background-color: rgb(206, 206, 206);
    color: rgb(14, 23, 44);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

/* TARJETAS */

.tarjetas {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}


.tamaño-tarjeta-visitante {
    position: relative;
    width: 500px;
    height: 300px;
    background: none;
}

.tarjeta-visitante {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.tarjeta-visitante:hover {
    transform: rotateY(180deg);
}

.tarjeta-visitante-frente {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 26, 26);
    color: rgb(50, 196, 147);
    backface-visibility: hidden;
    border-radius: 25px;
    box-shadow: inset 0 -20px 20px -20px rgb(50, 196, 147);
}

.tarjeta-visitante-reverso {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 10px solid rgb(50, 196, 147);
    border-radius: 25px;
    background-color: rgb(20, 20, 20);
    color: rgb(50, 196, 147);
    backface-visibility: hidden;
    transform: rotateY(180deg);
}


.tamaño-tarjeta-acaparador {
    position: relative;
    width: 500px;
    height: 300px;
    background: none;
}

.tarjeta-acaparador {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.tarjeta-acaparador:hover {
    transform: rotateY(180deg);
}

.tarjeta-acaparador-frente {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 26, 26);
    color: rgb(252, 163, 17);
    backface-visibility: hidden;
    border-radius: 25px;
    box-shadow: inset 0 -20px 20px -20px rgb(252, 163, 17);
}

.tarjeta-acaparador-reverso {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20);
    color: rgb(252, 163, 17);
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 25px;
    border: 10px solid rgb(252, 163, 17);
    
}

.tamaño-tarjeta-coleccionista {
    position: relative;
    width: 500px;
    height: 300px;
    background: none;
}

.tarjeta-coleccionista {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease;
}

.tarjeta-coleccionista:hover {
    transform: rotateY(180deg);
}

.tarjeta-coleccionista-frente {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 26, 26);
    color: rgb(199, 28, 28);
    backface-visibility: hidden;
    border-radius: 25px;
    box-shadow: inset 0 -20px 20px -20px rgb(199, 28, 28);
}

.tarjeta-coleccionista-reverso {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20);
    color: rgb(199, 28, 28);
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 25px;
    border: 10px solid rgb(199, 28, 28);
}

/* FOOTER */

.seccion-5 {
    background-color: rgb(229, 229, 229);
    color: rgb(14, 23, 44);
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.seccion-5 h2 {
    font-size: 2em;
}

.seccion-5 a {
    ;
}

.redes {
    width: 50%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.fa-facebook:hover {
    color: rgb(59, 89, 152);
    transition: all 0.5s ease;
}

.fa-instagram:hover {
    color: #F56040;
    transition: all 0.5s ease;
}

.fa-square-twitter:hover {
    color: rgb(0, 172, 238);
    transition: all 0.5s ease;
}

.fa-square-envelope:hover {
    color: rgb(234, 67, 53);
    transition: all 0.5s ease;
}